<ion-header>
  <ion-navbar>
    <ion-title>
      Safe Place Navigation
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!locationService.atSafePlace">
    <ion-card-content>
      <div #directionsPanel class="directionPanel">
      </div>
    </ion-card-content>
  </ion-card>

  <div class="safePanel" *ngIf="locationService.atSafePlace && !locationService.everywhereFlood">
    <b style="font-size: 20px;">
      You are at a Safe Place
    </b>
  </div>
  <div class="alertPanel" *ngIf="locationService.atSafePlace && locationService.everywhereFlood">
    <b style="font-size: 20px;">
      No Safe Place Found, Read Guide Book and Take Atmost Care.
    </b>
  </div>
  <div #map id="map"></div> 
</ion-content>
